{% extends "main::container.html" %}

{%block article%}
<article>
    <h1>Credits</h1>
    <h2>Software</h2>
    <p>This website is built upon the <a href="https://capitains.org">Capitains Framework</a> with the following software:</p>
    <ul>
        <li><a href="https://github.com/capitains/flask-capitains-nemo">Capitains Nemo for the Reading Interface</a></li>
        <li><a href="https://github.com/capitains/Nautilus">Capitains Nautilus for the APIs</a></li>
        <li><a href="https://github.com/capitains/nemo-template-app">Nemo-Template-App which is a basic app to kickstart your own application</a></li>
    </ul>
    <p>Which are all under <a href="https://opensource.org/licenses/MPL-2.0">Mozilla Public License 2</a></p>
</article>
{%endblock%}